@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* variables */
$bg-dark: #111111;
$bg-navy: #0a1e2c;
$icon-border: orangered;
$font-color: #f0a776;
$font-family: "Roboto";

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-family;
}

hr {
  border-top: 1px solid $font-color;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
}

h2 {
  margin: 0;
  font-size: 2rem;
}

.app {
  display: flex;
  min-height: 100vh;
}

.server-side-nav {
  flex: 0 0 5rem;
  background-color: $bg-dark;
  border-right: 1px solid $bg-navy;
  .icon {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    background-color: #000;
    color: white;
    border: 2px solid $icon-border;
    border-radius: 0.4rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.channel-list-nav {
  flex: 0 0 15rem;
  background-color: $bg-dark;
  color: $font-color;
  padding: 1rem;
  h2 {
    text-align: center;
  }
  ul {
    margin-top: 2rem;
    padding-left: 0.5rem;
  }
  li {
    list-style: none;
    font-size: 1.2rem;
    border-bottom: 1px solid transparent;
    padding-left: 0.5rem;
    font-weight: lighter;
    &:hover {
      border-bottom: 1px solid $font-color;
    }
    &:active {
      background-color: $font-color;
      color: $bg-dark;
      font-weight: bolder;
    }
  }
}

.message-list {
  flex-grow: 1;
  background-color: $bg-navy;
  color: $font-color;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3,
  p {
    font-size: 1rem;
  }
  .scroll {
    height: calc(100vh - 100px);
    overflow-y: auto;
  }
}
